* {
    font-family:  Times New Roman;
    text-align: center;
    font-size: 150%;
 }
hr.one{
    display: block; 
    content: ""; 
    height: 50px; 
    margin-top: -51px; 
    border-style: solid; 
    border-color: black; 
    border-width: 0 0 2px 0; 
    border-radius: 10px; 
}
hr.two{
  display: block; 
  content: ""; 
  height: 50px; 
  margin-top: -51px; 
  border-style: solid; 
  border-color: black; 
  border-width: 0 0 2px 0; 
  border-radius: 50px; 
}